.app-container {
  font-family: Arial, sans-serif;
  
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-weight:bolder;
  font-size: larger;
  color: #e4e3e6; 
}
.app-container {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcDhx5k8VkPTs5OgO5J_C6Rp-0ZhmGr58sww&s');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.floating-heading {
  text-align: center;
  margin-top: 40px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
   0% { transform: translateY(0);}
  50% { transform: translateY(-18px);}
  100% {transform: translateY(0);}
}


/* Plans Section */
.plans-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 40px 0;
}

.plan-card {
  width: 250px;
  min-height: 280px;
  background-color: rgba(119, 131, 27, 0.9);
  color: rgb(54, 23, 23);
  border: 2px solid rgb(43, 38, 38);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(218, 162, 162, 0.3);
}

/* Responsive */
@media (max-width: 800px) {
  .plans-container {
    flex-direction: column;
    align-items: center;
  }
}
